
:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
}

body,
html {
    font-size: 10px;
}

main {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: var(--GrayishBlue);
    font-weight: 400;
}

main header {
    text-align: center;
    margin-top: 4rem;
    line-height: 1.5;
}

header h1 {
    font-size: 4rem;
    font-weight: 200;
    color: var(--VeryDarkBlue);
}

header h2 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--VeryDarkBlue);
}
#mission {
    display: inline-block;
    margin-top: 2rem;
    max-width: 50rem;
}

.card {
    box-shadow: 5px 5px 10px 10px rgba(170, 170, 170, 0.25);
    width: 35rem;
    height: 25rem;
    margin: 2rem;
    border-radius: 10px;
}

.card h2 {
    padding: 2rem;
    font-weight: 600;
    color: var(--VeryDarkBlue);
    font-size: 2rem;
}

.card p {
    padding-left: 2rem;
    line-height: 1.5;
}

.card img {
    position: relative;
    height: 7rem;
    width: 7rem;
    top: 60px;
    left: 250px;
}

.color-strip {
    display: block;
    background-color: gray;
    height: 0.5rem;
    border-radius: 10px 10px 0 0;
}

#supervisor .color-strip {
    background-color: var(--Cyan);
}

#builder .color-strip {
    background-color: var(--Red);
}

#karma .color-strip {
    background-color: var(--Orange);
}

#calculator .color-strip {
    background-color: var(--Blue);
}

#card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 1000px) {
    #card-container {
        flex-direction: row;
    }
}

@media only screen and (max-width: 850px){
    header h1,
    header h2 {
        font-size: 2rem;
    }
    main {
        margin: 0px 4rem;
    }
}